black==23.12.1
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
databind==4.5.2
databind.core==4.5.2
databind.json==4.5.2
Deprecated==1.2.14
docspec==2.2.1
docspec-python==2.2.1
docstring_parser==0.11
fonttools==4.53.0
idna==3.7
importlib_metadata==7.1.0
importlib_resources==6.4.0
Jinja2==3.1.4
joblib==1.4.2
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.9.0
mypy-extensions==1.0.0
nr-date==2.1.0
nr-stream==1.1.5
nr.util==0.8.12
numpy==2.0.0
packaging==24.1
pandas==2.2.2
pathspec==0.12.1
patsy==0.5.6
pillow==10.3.0
platformdirs==4.2.2
pydoc-markdown==4.8.2
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
requests==2.32.3
scikit-learn==1.5.0
scipy==1.13.1
seaborn==0.13.2
six==1.16.0
statsmodels==0.14.2
threadpoolctl==3.5.0
tomli==2.0.1
tomli_w==1.0.0
typeapi==2.2.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
watchdog==4.0.1
wrapt==1.16.0
yapf==0.40.2
zipp==3.19.2
